:root {
	// Colors
	--color-3: #fffef4;
	--color-4: #f8f7ed;
	--color-5: #efeee5;
	--color-6: #f3f5e9;
	--color-7: #3c3763;
	--color-8: #e8f7ff;
	--color-9: #eaeaea;
	--color-10: #2b2b2b;
	--color-11: rgba(5, 104, 57, 0.08);
	--color-hover: #1597bb;
	--color-active: #1597bb;
	--color-error: #7b113a;
	--color-success: #8fd6e1;

	// Base Transition
	--base-duration: 300ms;
	--base-timing: ease-in-out;
}